<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/alerta">Administrativo</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="usuario"><a href="/geral">Geral</a></li>
				<li id="cliente"><a href="/grupo">Grupos</a></li>
				<li id="usuario"><a href="/imagem">Imagens</a></li>
			</ul>
		</div>
	</div>
</div>