<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/administrar.js"></script> 
<body>
	<% include basic/navbar %>
	
	<div class="jumbotron" ng-controller="controlador">
		<div class="container">

		</div>
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>