<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<!-- <script src="/js/upload.js"></script> -->

<script type="text/javascript" src="/adm_imagem.js"></script> 
<body>
	<% include basic/navbar %>
	
	<div class="jumbotron" ng-controller="controlador" ng-init="init()">
		<div class="container">
			<form class="form-horizontal">
				<h3>Imagens</h3>

				<div class="form-group">
					<label class="col-md-2 control-label" for="nome">Nome:</label>
					<div class="col-md-10">
						<input class="form-control" name="nome" id="nome" placeholder="Ex: Bolo de cenoura" type="text" ng-model="imagem.nome">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="preco">Preço:</label>
					<div class="col-md-10">
						<input class="form-control" id="preco" placeholder="Ex: 19.99" type="text" ng-model="imagem.preco">
					</div>
				</div>

				<div class="form-group">
					<label for="grupo" class="col-md-2 control-label">Grupo:</label>
					<div class="col-md-8">
						<select id="grupo" ng-model="imagem.id_grupo" 
								class="form-control">
							<option ng-repeat="opt in grupos" value="{{opt.id}}" ng-selected="opt.id == imagem.id_grupo">{{opt.nome}}</option>
						</select>
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="imagem.principal" 
									name="ativo" 
									type="checkbox">
							Principal:
						</label>
					</div>
				</div>


				<div class="form-group" ng-hide="config.edicao">
					<label class="col-md-2 control-label" for="nome">Imagem:</label>
					<div class="col-md-10">
						<input id="fileInput" type="file" name="file" />
					</div>
				</div>

				<div class="form-group" ng-show="config.edicao">
					 <div class="col-md-offset-2 col-md-10">
					 	<input class="btn btn-primary" value="Gravar" ng-click="atualizaImagem()"/>
						<input class="btn btn-default" value="Cancelar" ng-click="reset()"/>
					 </div>
					
				</div>

			</form>
		</div>


		<div class="container">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<th>
							
						</th>
						<th>
							Nome
						</th>
						<th>
							Preço
						</th>
						<th>
							Grupo
						</th>
						<th>
							Alterar
						</th>
					</thead>
					<tr ng-repeat="img in imagens" ng-class="{'bg-success': img.principal}">
						<td>
							<img alt="" ng-src="{{config.url}}{{img.file}}" width="80" height="80"></img>
						</td>
						<td>
							<span ng-bind="img.nome"></span>
						</td>
						<td>
							<span ng-bind="img.preco"></span>
						</td>
						<td>
							<span ng-bind="nomeGrupo(img.id_grupo)"></span>
						</td>
						<td>
							<input class="btn btn-default" value="Alterar" ng-click="alterar(img)"/>
							<input class="btn btn-danger" value="Excluir" ng-click="excluir(img)"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		    
		</div>
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>